body{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #666;
  height: 12vh;
  max-width: calc(100% - 6rem);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  color: white;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

.App-link {
  color: #61dafb;
}

.app-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
